<h1 class="page-header">What would you like to Read?</h1>


<div class="button-group filters-button-group">
    <button class="button is-checked" data-filter="*">Show All</button>
    <button class="button" data-filter=".design">Design</button>
    <button class="button" data-filter=".rubyonrails">Ruby on Rails</button>
    <button class="button" data-filter=".javascript">Javascript</button>
    <button class="button" data-filter=".wordpress">Wordpress</button>
    <button class="button" data-filter=".work">Work</button>
    <button class="button" data-filter="numberGreaterThan50">Greater than 50</button>
    <button class="button" data-filter=".miscellaneous">Miscellaneous</button>
</div>

<div class="grid">
    <% @blogposts.each do |blogpost| %>
        <%= link_to blogpost do %>

            <!-- <div class="element-item <%= blogpost.category.tr('^A-Za-z0-9', ' ').split.first.downcase %>" data-category="rubyonrails"> -->
            <div class="element-item <%= blogpost.category.tr('^A-Za-z0-9', ' ').to_s.downcase %>" data-category="rubyonrails">
              <h3 class="name"><%= blogpost.title %></h3>
              <p class="symbol">大龙</p>
              <p class="number"><%= blogpost.id.to_s.first(3) %></p>
              <p class="weight"><%= blogpost.created_at.strftime("%Y-%m-%d") %></p>

            </div>
        <% end %>
        <!-- <%= link_to 'Show', blogpost %>
        <%= link_to 'Edit', edit_blogpost_path(blogpost) %>
        <%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    <% end %>
</div>
