<h1 class="page-header">Blog Posts</h1>


<div class="button-group filters-button-group text-center">
    <a href="#" class="category is-checked" data-filter="*">Show All</a>
    <a href="#" class="category" data-filter=".design">Design</a>
    <a href="#" class="category" data-filter=".rubyonrails">Ruby on Rails</a>
    <a href="#" class="category" data-filter=".javascript">Javascript</a>
    <a href="#" class="category" data-filter=".hotlink">Hotlink</a>
    <a href="#" class="category" data-filter=".work">Work</a>
    <a href="#" class="category" data-filter="numberGreaterThan50">Greater than 50</a>
    <a href="#" class="category" data-filter=".miscellaneous">Miscellaneous</a>
</div>

<div class="grid">
    <% @blogposts.each do |blogpost| %>
        <%= link_to blogpost do %>
            <div class="element-item <%= blogpost.category.downcase %>" data-category="rubyonrails">
              <h3 class="name"><%= blogpost.title %></h3>
              <p class="symbol">大龙</p>
              <p class="number"><%= blogpost.id.to_s.first(3) %></p>
              <p class="weight"><%= blogpost.created_at.strftime("%Y-%m-%d") %></p>
            </div>
        <% end %>
        <!-- <%= link_to 'Show', blogpost %>
        <%= link_to 'Edit', edit_blogpost_path(blogpost) %>
        <%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    <% end %>
</div>
