<p id="notice"><%= notice %></p>

<article>
    <header>
        <h2><%= @blogpost.title %></h2>
    </header>

    <aside>
        <% render 'randomquote' %>
        <%= @randomquote.shuffle.first %>
    </aside>
    <%= @blogpost.body.html_safe %>
    <footer>
        Posted on <%= @blogpost.created_at.strftime("%A, %B %d, %Y at %H:%M") %>
        <br>
        <div class="tags clearfix">
        <% @blogpost.category.split.each do |tag| %>
                <div class="tag"><a href="#"><%= tag %></a></div>
            <% end %>
        </div>
    </footer>
</article>

<div class="button-spacer">
    <%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
    <%= link_to 'Back', blogposts_path %>
</div>
