<style>
  *, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}/*

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}*/

.form {
  margin: 20px auto;
  padding: 40px 20px;
  width: 100%;
  min-height: 375px;
  background: #fff;
  border-radius: 6px;
  box-sizing: border-box;
/*  box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.1);
*/}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

/*h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}*/

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(127, 140, 141, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #666;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}/*

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}*/

.forgot {
  margin-top: -20px;
  text-align: right;
}


</style>
<div class="form">

      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Business</a></li>
        <li class="tab"><a href="#login">Pleasure</a></li>
      </ul>

    <div class="tab-content">
        <div id="signup">
            <h1>Contact Me Directly</h1>
                <%= form_for @message do |f| %>
                  <% if @message.errors.any? %>
                    <div id="error_explanation">
                      <h2>
                        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
                      </h2>

                      <ul>
                        <% @message.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                      <ul>
                    </div>
                  <% end %>

                  <div class="field-wrap field">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                  </div>

                  <div class="field-wrap field">
                    <%= f.label :email %>
                    <%= f.email_field :email %>
                  </div>

                  <div class="field-wrap field">
                    <%= f.label :subject %>
                    <%= f.text_field :subject %>
                  </div>

                  <div class="field-wrap field">
                    <%= f.label :content %>
                    <%= f.text_area :content %>
                  </div>

                  <div class="actions">
                    <%= f.submit 'Send', class: 'btn btn-primary btn-lg btn-theme btn-block' %>
                  </div>
                <% end %>
        </div>

        <div id="login">
            <h1>Follow Me Online:</h1>

            <div class="set rounded tilted text-center">
              <a href="https://www.facebook.com/profile.php?id=100010668903210" class="social facebook">Facebook</a>
              <a href="https://twitter.com/JoshuaToys" class="social twitter">Twitter</a>
              <a href="http://codepen.io/toymechqm/" class="social codepen">Codepen</a>
              <a href="https://bitbucket.org/ToyMechQM/" class="social bitbucket">Stripe</a>
              <a href="#" class="pop social wechat">Wechat</a>
              <a href="https://github.com/toymechqm/" class="social github">Github</a>
            </div>


            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <button type="button" class="close" data-dismiss="modal">   <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <%= image_tag('qr.png') %>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Get on The Mailing List</h3>
            <form action="/" method="post">
                <div class="field-wrap">
                    <label>
                      Email Address<span class="req">*</span>
                    </label>
                    <input type="email"required autocomplete="off"/>
                </div>
                <button class="btn btn-primary btn-lg btn-theme btn-block"/>Subscribe</button>
            </form>

        </div>

      </div><!-- tab-content -->

</div> <!-- /form -->
<script>
  $('.form').find('input, textarea').on('keyup blur focus', function (e) {

  var $this = $(this),
      label = $this.prev('label');

    if (e.type === 'keyup') {
      if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
      if( $this.val() === '' ) {
        label.removeClass('active highlight');
      } else {
        label.removeClass('highlight');
      }
    } else if (e.type === 'focus') {

      if( $this.val() === '' ) {
        label.removeClass('highlight');
      }
      else if( $this.val() !== '' ) {
        label.addClass('highlight');
      }
    }

});

$('.tab a').on('click', function (e) {

  e.preventDefault();

  $(this).parent().addClass('active');
  $(this).parent().siblings().removeClass('active');

  target = $(this).attr('href');

  $('.tab-content > div').not(target).hide();

  $(target).fadeIn(600);

});

$(function() {
    $('.pop').on('click', function() {
      $('.imagepreview').attr('src', $(this).find('img').attr('src'));
      $('#imagemodal').modal('show');
    });
});
</script>
